/* stylelint-disable */

@import '~antd/dist/antd.dark.css';
@import "./variables.scss";

$rhap_theme-color: $white !default; // Color of all buttons and volume/progress indicators
$rhap_background-color: $primary-dark !default; // Color of the player background
$rhap_bar-color: rgb(52, 51, 56) !default; // Color of volume and progress bar
$rhap_time-color: $white !default; // Font color of current time and duration
$rhap_font-family: inherit !default;

@import 'react-h5-audio-player/src/styles.scss';


// styles for current playing song override

.audio-player-header {
  color: $white;
  font-size: 15px;
  font-weight: 600;
  height: 24px;
  padding: 8px 0;
}

.rhap_progress-section:hover {
  .rhap_progress-filled {
    background-color: $primary;
  }
}


.ant-menu-inline, .ant-menu-inline-collapsed {
  .ant-menu-item {
    margin-top: 0
  }
}


body, html {
  overflow-x: hidden;
}

/* Remove outline for non-keyboard :focus */
*:focus:not(.focus-visible) {
  outline: none;
}



/* stylelint-enable */
